.u-hidden {
  display: none !important;
}

.u-text-center {
  text-align: center !important;
}

.u-flex-grow {
  flex: 1;
}

.u-space-between {
  justify-content: space-between;
}

.u-content-box {
  box-sizing: content-box;
}

.u-text-light {
  color: var(--lino-light);
}

.u-padding-0 {
  padding: 0;
}
