/* 
  Reset stylesheet - modern box sizing 
*/

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
