.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  font-size: var(--font-size-base);
  font-weight: bold;
  font-family: var(--font-family-base);
  border-radius: 4px;
  text-align: center;
  transition: all var(--transition-fast) var(--ease-base);
  cursor: pointer;
  
  &--primary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: 2px solid var(--color-secondary);
    
    &:hover, &:focus {
      background-color: transparent;
      color: var(--color-white);
    }
  }
}

.c-link {
  color: var(--color-secondary);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color var(--transition-fast) var(--ease-base);
  
  &:hover {
    border-color: var(--color-secondary);
  }
}
