@use '../tools/mixins' as *;

.c-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: var(--color-white);
  padding-block: 2rem;
  background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
  backdrop-filter: blur(6px);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint($bp-md) {
      flex-direction: row;
    }
  }

  &__logo {
    font-weight: bold;
    font-size: var(--font-size-base);
    text-transform: uppercase;
    letter-spacing: 1px;

    &-text {
      text-shadow: var(--text-shadow-sm);
    }
  }
}

.c-nav {
  &__list {
    display: flex;
    gap: 1.5rem;

    &--footer {
      flex-direction: column;
      @include breakpoint($bp-md) {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }

  &__link {
    font-size: var(--font-size-small);
    opacity: 0.9;
    transition: opacity var(--transition-fast) var(--ease-base);
    text-shadow: var(--text-shadow-sm);

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
