@use "../tools/mixins" as *;

.c-portada {
    background-image: image-set(
    url("../../images/portada.jpg?as=avif") type("image/avif"),
    url("../../images/portada.jpg?as=webp") type("image/webp"),
    url("../../images/portada.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: center center;

  &__caja {
    padding: 1rem;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 20px 300px;

    @include breakpoint($bp-md) {
      grid-template-columns: 1fr 20px minmax(500px, 50%);
      grid-template-rows: 20px 1fr 20px 300px 20px;

      &__arriba {
        grid-column: 1/ span 3;
        background-image: linear-gradient(to bottom, var(--lino-light), transparent);
      }

      &__caja-izquierda {
        grid-column: 2;
        grid-row: 4;
        background-image: linear-gradient(to left, var(--lino-light), transparent);
      }

      &__caja-arriba {
        grid-column: 3;
        grid-row: 3;
        background-image: linear-gradient(to top, var(--lino-light), transparent);
      }

      &__caja-esquina-arriba {
        grid-column: 2;
        grid-row: 3;
        background-image: radial-gradient(circle at bottom right, var(--lino-light) 0%, transparent 70%, transparent 100%);
      }

      &__caja-esquina-abajo {
        grid-column: 2;
        grid-row: 5;
        background-image: radial-gradient(circle at top left, transparent 0% , var(--lino-light) 70%, var(--lino-light) 100%);
      }

      &__abajo {
        grid-column: 1;
        grid-row: 5;
        background-image: linear-gradient(to top, var(--lino-light), transparent);
      }

      &__caja {
        grid-column: 3;
        grid-row: 4/span 2;
        background-color: var(--lino-light);
      }
    }
  }
}
