:root {
  --font-family-base:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  --font-family-heading: "Georgia", serif;

  /* Al usar clamp (rango mínimo, preferido y máximo) y medidas base relativas al viewport, hacemos que la fuente sea responsive */
  --font-size-base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --font-size-h1: clamp(2.5rem, 5vw + 1rem, 4rem);
  --font-size-h2: clamp(2rem, 2vw + 1rem, 2.5rem);
  --font-size-h3: clamp(1.5rem, 1.5vw + 1rem, 1.75rem);
  --font-size-h4: clamp(1.2rem, 1vw + 1rem, 1.5rem);
  --font-size-small: clamp(0.875rem, 0.8rem + 0.2vw, 0.875rem);

  --line-height-body: 1.6;
  --line-height-heading: 1.2;
}
