body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
  color: var(--madera-dark);
  background-color: var(--lino-light);
  min-height: 100vh;
  overflow: hidden;
  gap: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
  color: var(--color-primary);
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}
